* {
  text-align: center;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
}

div.choice-container,
div.score-container,
div.score.box,
div.weapons-container {
  display: flex;
  justify-content: center;
}

div.box {
  margin: 10px;
  width: 15vw;
}

p.players {
  margin-right: 1rem;
}

div.weapon img {
  margin: 1rem;
  max-width: 10vw;
  max-height: 10vh;
}

img.github-logo {
  max-width: 24px;
}

footer {
  height: 10vh;
}
