* {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

div.scores-container,
div.weapons-container {
  display: flex;
  justify-content: center;
}

div.sign img {
  margin: 1rem;
  max-width: 10vw;
  max-height: 10vh;
}

img.github-logo {
  max-width: 24px;
}
