* {
  text-align: center;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div.choice-container,
div.score-container,
div.score.box,
div.weapons-container {
  display: flex;
  justify-content: center;
}

div.box {
  margin: 10px;
  width: 15vw;
}

p.players {
  margin-right: 1rem;
}

div.weapon img {
  margin: 1rem;
  max-width: 10vw;
  max-height: 10vh;
}

a {
  text-decoration: none;
  color: initial;
}

img.github-logo {
  max-width: 24px;
}

footer {
  display: flex;
  align-items: center;
  height: 10vh;
}

footer p {
  margin: 10px;
}
